.purple{
    background: #624DE3;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 12px 24px;
    color: #FFFFFF;
    border: none;
}
.long{
    padding: 15px 36px;
}
.transparent{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #C3C1CB;
    border-radius: 8px;
}