nav{
    padding: 21px 0;
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #100A30;
        margin-right: 40px;
    }
    .active{
        color: #624DE3;
    }
}